server:
  host: localhost
  port: 3001
  reload: false
  worker_health_check_port: 3002
thumbnail_storage:
  path: "cache"
  max_size: 50000000
  redis_offset_allowed: 20
  max_before_async_generation: 15
redis:
  host: localhost
  port: 32774
default_max_height: 720
status_auth_password: password
skip_local_ffmpeg: false
try_floatie: true
try_ytdlp: true
debug: false